DIV.hours_day {
}
#hoursTable .dukeusers {
	font-weight: 1.0em;
	color: #111;
}
#hoursTable div.hours {
	float: right;
	text-align: right;
}
div.dukeusers span.title {
	color: #111;
}
#hoursTable div.genpublic {
	text-align: right;
	color: #555;
}
